body {
	
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	font-weight: bold;
	background-image: url("monkeyisgonnadestroy.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	margin-left: 100px;
    margin-top: 50px;
}

 button[name=keep] {
	
	border: 5px solid #0008FF;
	position: relative;
	top:40px;

}

 button[name=exit] {
	
	border: 5px solid #E00F0F;
	position: relative;
	top:-3px;
	left: 210px;

}